[submodule "Binomial-and-Gaussian-distribution-python-package"]
	path = Binomial-and-Gaussian-distribution-python-package
	url = https://github.com/OmarKhalil10/Binomial-and-Gaussian-distribution-python-package
